@import url('../fonts/fonts.css');
@import url('../fonts/fontawesome/css/all.min.css');

#alpina_wp_plugin_container {
    font-family: 'Montserrat';
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #464750;
    letter-spacing: 0.025em;
}

#alpina_wp_plugin_container p {
    color: white;
}

#alpina_wp_plugin_container a:not(.btn) {
/*     color: #6c3efb; */
    transition: all 0.2s ease-in-out;
    color: var(--alp-primary);
}

#alpina_wp_plugin_container a:not(.btn):hover {
    text-decoration: none;
}

#alpina_wp_plugin_container img {
    transition: all 0.3s ease;
}

#alpina_wp_plugin_container .figure-img {
    margin-bottom: 0;
}

/* WordPress Core https://codex.wordpress.org/CSS
-------------------------------------------------------------- */
#alpina_wp_plugin_container .alignnone {
    margin: 25px 25px 25px 0;
}

#alpina_wp_plugin_container .aligncenter, #alpina_wp_plugin_container div.aligncenter {
    display: block;
    margin: 25px auto 25px auto;
    clear: both;
}

#alpina_wp_plugin_container .alignright {
    float: right;
    margin: 25px 0 25px 25px;
}

#alpina_wp_plugin_container .alignleft {
    float: left;
    margin: 25px 25px 25px 0;
}

#alpina_wp_plugin_container a:not(.btn) img.alignright {
    float: right;
    margin: 25px 0 25px 25px;
}

#alpina_wp_plugin_container a:not(.btn) img.alignnone {
    margin: 25px 25px 25px 0;
}

#alpina_wp_plugin_container a:not(.btn) img.alignleft {
    float: left;
    margin: 25px 25px 25px 0;
}

#alpina_wp_plugin_container a:not(.btn) img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#alpina_wp_plugin_container .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

#alpina_wp_plugin_container .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

#alpina_wp_plugin_container .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

#alpina_wp_plugin_container .wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

#alpina_wp_plugin_container .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

#alpina_wp_plugin_container .wp-caption p.wp-caption-text {
    font-size: 16px;
    margin: 0;
    padding: 5px;
}

/* Text meant only for screen readers. */
#alpina_wp_plugin_container .screen-reader-text {
    border: 0;
    clip: rect(1px, #alpina_wp_plugin_container 1px, #alpina_wp_plugin_container 1px, #alpina_wp_plugin_container 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

#alpina_wp_plugin_container .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* -------------------------------------------------------------- */
#alpina_wp_plugin_container .container-full {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#alpina_wp_plugin_container .container-full:before, #alpina_wp_plugin_container .container-full:after {
    display: table;
    content: " ";
}

#alpina_wp_plugin_container .container-full:after {
    clear: both;
}

#main-header {
    min-height: 644px;
    background-color: #0f1e43;
}

#main-footer {
    min-height: 454px;
    background-color: #0f1e43;
}

#alpina_wp_plugin_container h1, #alpina_wp_plugin_container h2, #alpina_wp_plugin_container h3, #alpina_wp_plugin_container h4, #alpina_wp_plugin_container h5, #alpina_wp_plugin_container h6 {
    font-weight: bolder;
}

#alpina_wp_plugin_container .post {
    font-family: 'latoregular';
}

#alpina_wp_plugin_container .card {
    border: none;
    border-radius: 0px;
}

#alpina_wp_plugin_container .card-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: "Montserrat";
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#alpina_wp_plugin_container .card-title a {
    color: #464750;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#alpina_wp_plugin_container .card-title a:hover {
    color: #a0a1a4;
    text-decoration: none;
}

#alpina_wp_plugin_container .card-subtitle {
    font-size: 18px;
    margin-bottom: 0px !important;
}

#alpina_wp_plugin_container .card-text {
    color: #9fa0ab;
    font-weight: 500;
}

#alpina_wp_plugin_container .card figure {
    overflow: hidden;
    border-radius: 4px;
}
#alpina_wp_plugin_container .card figure.featured {
    margin: 0 auto;
    display: flex;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    width: 100%;
    vertical-align: middle;
}
#alpina_wp_plugin_container .card figure.featured img {
    transform: scale(1);
    min-width: 100%;
}
#alpina_wp_plugin_container .card figure img {
    /* transform: scale(1.06); */
}

/* .card figure.gallery-item {
    display: inline-block;
    width: 150px;
    max-height: 150px;
    margin: 10px;
    padding: 0;
} */
#alpina_wp_plugin_container .card figure:hover img {transform: scale(1.06);/* transform: scale(1); */}

/* WIDGETS */
#alpina_wp_plugin_container .widget .widget-title {
    color: #9fa0ab;
    font-size: 18px;
    border-bottom: 3px solid #ededed;
    padding: 0px 0px 23px 0px;
}

#alpina_wp_plugin_container .widget ul {
    padding: 0;
}

#alpina_wp_plugin_container .widget .children {
    display: none;
}

#alpina_wp_plugin_container .widget ul li {
    list-style: none;
    /* padding: 8px 0px; */
    font-size: 18px;
}

#alpina_wp_plugin_container .widget ul li a {
    color: #4a4b54;
    padding: 8px 0px;
    display: block;
    white-space: normal !important;
    word-wrap: break-word;
    word-wrap: break-word;
}

#alpina_wp_plugin_container .widget ul li.current-cat a, #alpina_wp_plugin_container .widget ul li a:hover {
    text-decoration: none;
/*     color: #6c3efb; */
    color: var(--alp-primary);
}

#alpina_wp_plugin_container #siganos_widget-2 ul li a:hover {
    color: var(--alp-secondary-color);
}

#alpina_wp_plugin_container .widget.widget_materiais_ricos i.fa {
    color: #aed95e;
}

/* WIDGET CAROUSEL */
#alpina_wp_plugin_container .widget .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 470px;
}

#alpina_wp_plugin_container .widget .carousel .carousel-item {
    overflow: hidden;
    border-radius: 4px;
    min-height: 469px;
}

#alpina_wp_plugin_container .widget .carousel .carousel-item .carousel-caption h6 {
    font-size: 25px;
    line-height: 23px;
    color: white;
}

#alpina_wp_plugin_container .widget .carousel .carousel-item figure {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-height: 469px;
}

#alpina_wp_plugin_container .widget .carousel .carousel-item img {
    max-height: 100%;
    transition: all 0.3s ease;
    margin: 0;
    width: auto;
    min-height: 469px;
}

#alpina_wp_plugin_container .widget .carousel .carousel-item:hover figure img {
    transform: scale(1.06);
}

#alpina_wp_plugin_container .widget .carousel .carousel-item a {
    color: var(--alp-secondary-color);
}

#alpina_wp_plugin_container .widget .carousel .carousel-item .carousel-caption h6 a {
    text-decoration: none;
    color: white;
}

#alpina_wp_plugin_container .widget .carousel .carousel-item .carousel-caption h6 a:hover {
    text-decoration: none;
    color: white;
}

#alpina_wp_plugin_container .widget .carousel .carousel-item::after {
    /* background-color: rgba(50,
    #alpina_wp_plugin_container 255,

    #alpina_wp_plugin_container 0,

    #alpina_wp_plugin_container 0.5); */
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    content: " ";
}

#alpina_wp_plugin_container .widget .carousel .carousel-caption {
    right: 5%;
    left: 5%;
}

#alpina_wp_plugin_container .widget .carousel .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50%;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0f1e43;
}

#alpina_wp_plugin_container .widget .carousel .carousel-indicators li.active {
    background-color: var(--alp-secondary-color);
}

/* WIDGET SEARCH */
/* Search */
#alpina_wp_plugin_container .widget_search input {
    border: 1px solid transparent !important;
    background: transparent;
    padding: 25px;
}

#alpina_wp_plugin_container .widget_search input:focus, #alpina_wp_plugin_container .widget_search .btn:active:focus {
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none !important;
}

#alpina_wp_plugin_container .widget_search .input-group {
    border: 2px solid #eaeaea;
    border-radius: 3px;
}

#alpina_wp_plugin_container .widget_search .input-group>.input-group-append>.btn {
    border: 1px solid transparent;
    background: transparent;
}

#alpina_wp_plugin_container .widget_search .input-group>.input-group-append>.btn i {/*     color: #6c3efb; */color: var(--alp-primary);font-size: 18px;}

#alpina_wp_plugin_container .btn-outline-secondary.focus, #alpina_wp_plugin_container .btn-outline-secondary:focus {
    box-shadow: none !important;
}

/* CTA */
#alpina_wp_plugin_container .cta {
    background: var(--alp-secondary-color);
}

#alpina_wp_plugin_container .cta div {
    display: flex;
    align-items: start;
    flex-direction: row;
}

#alpina_wp_plugin_container .cta div > *{
/*     background: #ff0093; */
}

#alpina_wp_plugin_container .cta .title {
    font-size: 27px;
}

#alpina_wp_plugin_container .cta .title span {
    font-weight: 300;
}

/* BUTTONS */
#alpina_wp_plugin_container .btn-outline-success {
    color: #aed95e;
    background-color: transparent;
    background-image: none;
    border: 2px #aed95e solid;
    text-transform:  uppercase;
    font-size: 13px;
    padding: 16px 25px !important;
    font-weight: bold;
}

#alpina_wp_plugin_container .btn-outline-success:hover {
    color: #fff;
    background-color: #aed95e;
    border-color: #aed95e;
}

/* PAGINATION */
#alpina_wp_plugin_container .navigationPage {
    background-color: #fff;
    display: flex;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

#alpina_wp_plugin_container .navigationPage a {
    color: #3C3A3A;
    font-weight: 600;
    font-family: 'Noto Sans', #alpina_wp_plugin_container sans-serif;
    text-transform: uppercase;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alpina_wp_plugin_container .navigationPage a.arrowLink {
    font-family: 'Raleway', #alpina_wp_plugin_container sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    letter-spacing: 5px;
}

#alpina_wp_plugin_container .navigationPage a.arrowLink.disabled, #alpina_wp_plugin_container .navigationPage a.arrowLink.disabled:hover {
    color: #bebbbb;
}

#alpina_wp_plugin_container .navigationPage a.current {
    background-color: var(--alp-secondary-color);
    color: #fff;
}

#alpina_wp_plugin_container .navigationPage a.current:hover {
    color: #fff;
}

#alpina_wp_plugin_container .arrowLink.leftLevel {
    left: 20px;
}

#alpina_wp_plugin_container .arrowLink.rightLevel {
    right: 20px;
}

#alpina_wp_plugin_container .arrowLink.leftLevel i {
    margin-right: 10px;
}

#alpina_wp_plugin_container .arrowLink.rightLevel i {
    margin-left: 10px;
}

#alpina_wp_plugin_container .navigationPage a:hover {
    color: var(--main-color);
}

#alpina_wp_plugin_container .navigationPage a.arrowLink.disabled {
    pointer-events: none;
}

/* NEWSLETTER */
#alpina_wp_plugin_container .newsletter {
    background-color: #5d25ff;
    background-color: var(--alp-primary);
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    padding: 1.8rem !important;
}

#alpina_wp_plugin_container .newsletter h2 {
    font-weight: 600;
    text-transform: uppercase;
}

#alpina_wp_plugin_container .newsletter input.contactForm, #alpina_wp_plugin_container .newsletter select.contactForm, #alpina_wp_plugin_container .newsletter input[type=text].contactForm, #alpina_wp_plugin_container .newsletter input[type=email].contactForm, #alpina_wp_plugin_container .newsletter input[type=tel].contactForm, #alpina_wp_plugin_container .newsletter textarea.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input.contactForm, #alpina_wp_plugin_blog_subheader .newsletter select.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=text].contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=email].contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=tel].contactForm, #alpina_wp_plugin_blog_subheader .newsletter textarea.contactForm {
    color: #fff;
    /* border: #491dc8 solid 3px; */
    border: rgba(0, 0, 0, 0.15) solid 3px;
    border-radius: 4px;
}

#alpina_wp_plugin_container .newsletter input.contactForm::-webkit-input-placeholder, #alpina_wp_plugin_blog_subheader .newsletter input.contactForm::-webkit-input-placeholder {
    color: #fff;
}

#alpina_wp_plugin_container .newsletter input.contactForm:-moz-placeholder, #alpina_wp_plugin_blog_subheader .newsletter input.contactForm:-moz-placeholder {
    color: #fff;
}

#alpina_wp_plugin_container .newsletter input.contactForm::-moz-placeholder, #alpina_wp_plugin_blog_subheader .newsletter input.contactForm::-moz-placeholder {
    color: #fff;
}

#alpina_wp_plugin_container .newsletter input.contactForm:-ms-input-placeholder, #alpina_wp_plugin_blog_subheader .newsletter input.contactForm:-ms-input-placeholder {
    color: #fff;
}

#alpina_wp_plugin_container .newsletter input[type=submit].contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=submit].contactForm {
    background-color: transparent;
    background-image: unset;
    color: var(--alp-secondary-color);
    border: 2px solid var(--alp-secondary-color);
    padding: 18px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    white-space: normal !important;
    word-wrap: break-word;
}

#alpina_wp_plugin_container .newsletter input[type=submit].contactForm:hover, #alpina_wp_plugin_blog_subheader .newsletter input[type=submit].contactForm:hover {
    color: #fff;
    background-color: var(--alp-secondary-color);
    border-color: #fff;
}

#alpina_wp_plugin_container .newsletter div.wpcf7-response-output, #alpina_wp_plugin_blog_subheader .newsletter div.wpcf7-response-output {
    color: #fff !important;
}

#alpina_wp_plugin_container .ur-frontend-form input[type=text], #alpina_wp_plugin_container .ur-frontend-form input[type=email], #alpina_wp_plugin_container .ur-frontend-form input[type=password], #alpina_wp_plugin_container input.contactForm, #alpina_wp_plugin_container select.contactForm, #alpina_wp_plugin_container input[type=text].contactForm, #alpina_wp_plugin_container input[type=email].contactForm, #alpina_wp_plugin_container input[type=tel].contactForm, #alpina_wp_plugin_container textarea.contactForm {
    padding: 18px 30px;
    outline: 0;
    background-color: #0000000d;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out false;
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 0;
    margin-bottom: 10px;
    color: #7B7B7B;
    letter-spacing: 1px;
    height: auto !important;
}

/* SINGLE */
#alpina_wp_plugin_container .entry-content {
    font-family: 'latoregular';
}

#alpina_wp_plugin_container .entry-content img {
    max-width: 100%;
    height: auto;
}

#alpina_wp_plugin_container .entry-content figcaption {
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#alpina_wp_plugin_container .entry-content .lead {
    color: #63646e;
    font-size: 29px;
    line-height: 34px;
    margin-bottom: 1.5em;
}

#alpina_wp_plugin_container .entry-content h1, #alpina_wp_plugin_container .entry-content h2, #alpina_wp_plugin_container .entry-content h3 {
    color: #5d25ff;
    margin-bottom: 2rem;
}

#alpina_wp_plugin_container .entry-content h4, #alpina_wp_plugin_container .entry-content h5, #alpina_wp_plugin_container .entry-content h6 {
    color: #63646e;
    margin-bottom: 1rem;
}

#alpina_wp_plugin_container .entry-content p {
    color: #63646e;
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 1em;
}

#alpina_wp_plugin_container .entry-content a:not(.btn) {
/*     color: #491dc8; */
    color: var(--alp-primary);
    text-decoration: underline;
}

#alpina_wp_plugin_container .entry-content blockquote {
    color: #63646e;
    font-size: 29px;
    line-height: 34px;
    padding-left: 100px;
    margin-bottom: 60px;
}

#alpina_wp_plugin_container .entry-content blockquote p {
    color: #63646e;
    font-size: 29px;
    line-height: 34px;
    margin-bottom: 0;
}

#alpina_wp_plugin_container .entry-content blockquote::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    color: #b6e062;
    font-size: 60px;
    float: left;
    line-height: 1em;
    margin-left: -100px;
}

#alpina_wp_plugin_container .entry-content blockquote cite {
    font-size: 17px;
}

#alpina_wp_plugin_container .entry-content .jumbotron {
    background: #e9f7ff;
    padding: 58px;
}

#alpina_wp_plugin_container .entry-content .jumbotron p {
    font-size: 29px;
    line-height: 36px;
    font-family: 'latoheavy';
    margin-bottom: 0px;
}

#alpina_wp_plugin_container .entry-content ul {
    list-style: none;
    padding: 0;
    padding-left: 25px;
    margin-bottom: 3rem;
}

#alpina_wp_plugin_container .entry-content ul li {
    padding-left: 1.3em;
    font-size: 19px;
    line-height: 29px;
}

#alpina_wp_plugin_container .entry-content ul li:before {
    content: " ";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    margin-right: 1em;
    width: 8px;
    height: 8px;
    background: var(--alp-secondary-color);
    border-radius: 50%;
    vertical-align: middle;
}

#alpina_wp_plugin_container .entry-content ol {
    list-style: none;
    counter-reset: item;
    padding: 0;
    padding-left: 25px;
    margin-bottom: 3rem;
}

#alpina_wp_plugin_container .entry-content ol li {
    counter-increment: item;
    margin-bottom: 0px;
    font-size: 19px;
    line-height: 29px
}

#alpina_wp_plugin_container .entry-content ol li:before {
    margin-right: 17px;
    content: counter(item);
    border-radius: 100%;
    color: var(--alp-secondary-color);
    text-align: right;
    display: inline-block;
    font-weight: bold;
}

/* AUTHOR BLOCK */
#alpina_wp_plugin_container .author .avatar {
    /* display: flex; */
    /* margin: 0 auto; */
}
#alpina_wp_plugin_container .author a.avatar::after {
    background: #474751;
    width: 86px;
    height: 86px;
    content: " ";
    display: block;
    position: absolute;
    opacity: 0.2;
    margin-top: -86px;
    border-radius: 43px;
    margin: 0 auto;
}

#alpina_wp_plugin_container a.avatar img {
    max-width: 86px;
}

#alpina_wp_plugin_container .author .media-body .bio {
    font-size: 15px;
    line-height: 20px;
}

/* BREADCRUMBS */
#alpina_wp_plugin_container .breadcrumb {
    background-color: transparent;
    /* display: inline; */
    padding: 0;
    font-size: 14px;
    color: #9fa0ab;
}
#alpina_wp_plugin_container .breadcrumb .breadcrumb-item {
    color: #9fa0ab;
    font-weight: bold;
    padding-left:  0px;
}
#alpina_wp_plugin_container .breadcrumb .breadcrumb-item:hover a {
/*     color: #6c3efb; */
    color: var(--alp-primary);
}
#alpina_wp_plugin_container .breadcrumb a {
    color: #9fa0ab;
    font-weight: normal;
}

#alpina_wp_plugin_container .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .4rem;
    color: #9fa0ab;
    content: ",";
    font-weight: normal;
}

/*CONTACT FORM 7*/
#alpina_wp_plugin_container input[aria-invalid="true"].contactForm, #alpina_wp_plugin_container select[aria-invalid="true"].contactForm {
    border-color: #ea515c !important;
    background-color: rgba(0, #alpina_wp_plugin_container 0, #alpina_wp_plugin_container 0, #alpina_wp_plugin_container 0.1) !important;
}

#alpina_wp_plugin_container div.wpcf7-validation-errors {
    display: none !important;
}

#alpina_wp_plugin_container span.wpcf7-not-valid-tip {
    padding: 0 10px;
    font-weight: 600;
    color: #fff;
    transition: all .3s cubic-bezier(0.4, #alpina_wp_plugin_container 0, #alpina_wp_plugin_container 1, #alpina_wp_plugin_container 1);
    display: block;
    border-radius: 2px;
    margin-bottom: 10px;
}

#alpina_wp_plugin_container .wpcf7-mail-sent-ok {
    padding: 0;
    color: #f2f5f4;
    background-color: transparent;
    display: block;
    border-radius: 2px;
    text-align: center;
    border: none;
    margin: 10px 0 0 0;
}

#alpina_wp_plugin_container div.wpcf7 .ajax-loader {
    /* visibility: hidden; */
    display: inline-block;
    background-image: url(../../images/ajax-loader.gif);
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
    position: absolute;
    /* background-color: #fff; */
    border-radius: 50%;
    padding: 11px;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

#alpina_wp_plugin_container .newsletter p {
    position: relative;
}

/*CONTACT FORM 7 SUBHEADER*/
#alpina_wp_plugin_blog_subheader .newsletter {
    background-color: #5d25ff;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

#alpina_wp_plugin_blog_subheader .newsletter h2 {
    font-weight: 600;
    text-transform: uppercase;
}

#alpina_wp_plugin_blog_subheader .newsletter input.contactForm, #alpina_wp_plugin_blog_subheader .newsletter select.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=text].contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=email].contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=tel].contactForm, #alpina_wp_plugin_blog_subheader .newsletter textarea.contactForm {
    color: #fff;
    border: #233152 solid 2px;
    border-radius: 4px;
}

#alpina_wp_plugin_blog_subheader .newsletter input:focus.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input:hover.contactForm, #alpina_wp_plugin_blog_subheader .newsletter select:focus.contactForm, #alpina_wp_plugin_blog_subheader .newsletter select:hover.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=text]:focus.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=text]:hover.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=email]:focus.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=email]:hover.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=tel]:focus.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=tel]:hover.contactForm, #alpina_wp_plugin_blog_subheader .newsletter textarea:focus.contactForm, #alpina_wp_plugin_blog_subheader .newsletter textarea:hover.contactForm {
    color: #fff;
    border: var(--alp-primary) solid 2px;
    border-radius: 4px;
    /*     -webkit-box-shadow: 0 0 0 100px white inset; */
    /*     -webkit-text-fill-color: #f900; */
}

#alpina_wp_plugin_blog_subheader .newsletter input:-webkit-autofill, #alpina_wp_plugin_blog_subheader .newsletter select:-webkit-autofill, #alpina_wp_plugin_blog_subheader .newsletter input[type=text]:-webkit-autofill, #alpina_wp_plugin_blog_subheader .newsletter input[type=email]:-webkit-autofill, #alpina_wp_plugin_blog_subheader .newsletter input[type=tel]:-webkit-autofill, #alpina_wp_plugin_blog_subheader .newsletter textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #0f1d44 inset;
    -webkit-text-fill-color: #ea515c;
}

#alpina_wp_plugin_blog_subheader .newsletter input.contactForm::-webkit-input-placeholder {
    color: #fff;
}

#alpina_wp_plugin_blog_subheader .newsletter input.contactForm:-moz-placeholder {
    color: #fff;
}

#alpina_wp_plugin_blog_subheader .newsletter input.contactForm::-moz-placeholder {
    color: #fff;
}

#alpina_wp_plugin_blog_subheader .newsletter input.contactForm:-ms-input-placeholder {
    color: #fff;
}

#alpina_wp_plugin_blog_subheader .newsletter input[type=submit].contactForm {
    background-color: transparent;
    background-image: unset;
    color: var(--alp-secondary-color);
    border: 2px solid var(--alp-secondary-color);
    padding: 16px 13px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
}

#alpina_wp_plugin_blog_subheader .newsletter input[type=submit].contactForm:hover {
    color: #fff;
    background-color: var(--alp-secondary-color);
    border-color: #fff;
}

#alpina_wp_plugin_blog_subheader .newsletter div.wpcf7-response-output {
    color: #fff !important;
}

#alpina_wp_plugin_blog_subheader .ur-frontend-form input[type=text],
#alpina_wp_plugin_blog_subheader .ur-frontend-form input[type=email],
#alpina_wp_plugin_blog_subheader .ur-frontend-form input[type=password],
#alpina_wp_plugin_blog_subheader input.contactForm,
#alpina_wp_plugin_blog_subheader select.contactForm,
#alpina_wp_plugin_blog_subheader input[type=text].contactForm,
#alpina_wp_plugin_blog_subheader input[type=email].contactForm,
#alpina_wp_plugin_blog_subheader input[type=tel].contactForm,
#alpina_wp_plugin_blog_subheader textarea.contactForm {
    padding: 13px 20px;
    outline: 0;
    background-color: #0000000d;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out false;
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 0;
    margin-bottom: 10px;
    color: #7B7B7B;
    letter-spacing: 1px;
    height: auto !important;
}

/* SUBHEADER */
#alpina_wp_plugin_blog_subheader .widget {
    background: transparent;
    clear: both;
    padding-top: 160px;
}

#alpina_wp_plugin_blog_subheader .widget-title {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 33px;
    line-height: 30px;
    color: #fff;
    /* text-transform: capitalize !important; */
    max-width: 450px;
    margin: 0px auto 30px;
    border: none;
}

#alpina_wp_plugin_blog_subheader {
    /* background: url(<?php echo $options['header_bg']; ?>) center center; */
    /* background-size: cover; */
    background-size: contain;
    min-height: 350px;
    /* border-bottom: 2px solid #7b8397; */
    padding-bottom: 35px;
}

#alpina_wp_plugin_blog_subheader .widget {
    background: transparent;
    clear: both;
    margin-bottom: 0px !important;
    padding-left: 120px;
    padding-right: 120px;
    position: relative;
}

#alpina_wp_plugin_blog_subheader .widget p {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#alpina_wp_plugin_blog_subheader h2.widget-title {
    text-decoration: none;
    text-align: center;
    font-size: 33px;
    line-height: 30px;
    color: #fff;
    text-transform: capitalize !important;
    padding-top: 120px;
    max-width: 450px;
    margin: 0 auto;
    border: none;
}

#alpina_wp_plugin_blog_subheader .widget .wpcf7-form-control-wrap,
#alpina_wp_plugin_blog_subheader .widget .wpcf7-form-control.wpcf7-submit {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
    /* display: inline-flex; */
    /* display: inline-flex; */
}

#alpina_wp_plugin_blog_subheader .widget .wpcf7-form-control.wpcf7-submit {
    padding: 18px 65px;
    min-width: 30%;
}

/* WIDGET SINGLE BUTTON */
#alpina_wp_plugin_container .widget_single_button {
}

#alpina_wp_plugin_container .widget_single_button .btn {
/*     background-color: #5d25ff; */
/*     border-color: #5d25ff; */
    color: #aed95e;
    font-size: 15px;
    padding: 22px 18px;
    font-weight: bold;
    background-color: var(--alp-primary);
    border-color: var(--alp-primary);
}

#alpina_wp_plugin_container .widget_single_button .btn i {
    margin-right: 10px;
}

#alpina_wp_plugin_container .widget_single_button .btn:hover, #alpina_wp_plugin_container .widget_single_button .btn:active {
    color: #fff;
}

/* GALLERY */
#alpina_wp_plugin_container .gallery:after {
    content: "";
    display: table;
    clear: both;
}

#alpina_wp_plugin_container img.aligncenter, #alpina_wp_plugin_container div.aligncenter, #alpina_wp_plugin_container figure.aligncenter, #alpina_wp_plugin_container img.wp-post-image {
    display: block;
    margin: 0em auto;
}

#alpina_wp_plugin_container img.alignright, #alpina_wp_plugin_container div.alignright, #alpina_wp_plugin_container figure.alignright {
    float: right;
    margin: 1em 0 1em 2em;
}

#alpina_wp_plugin_container img.alignleft, #alpina_wp_plugin_container div.alignleft, #alpina_wp_plugin_container figure.alignleft, #alpina_wp_plugin_container img.wp-post-image.attachment-thumb {
    float: left;
    margin: 1em 1em 2em 0;
}

#alpina_wp_plugin_container figure {
    max-width: 100%;
    height: auto;
    /* margin: 1em 0; */
}

#alpina_wp_plugin_container p img.alignright, #alpina_wp_plugin_container p img.alignleft {
    margin-top: 0;
}

#alpina_wp_plugin_container .gallery figure img {
    /* max-width: 100%; */
    height: auto;
    margin: 0 auto;
    display: block;
    min-width: 100%;
    min-height: 100%;
}

#alpina_wp_plugin_container .gallery figure {
    float: left;
    margin: 0 2% 1em 0;
}

#alpina_wp_plugin_container .gallery figure .gallery-icon {
    overflow: hidden;
    border-radius: 4px;
}

#alpina_wp_plugin_container .gallery.gallery-columns-1 figure {
    width: 100%;
    margin: 0 0 1em 0;
    float: none;
}

#alpina_wp_plugin_container .gallery.gallery-columns-3 figure {
    width: 32%;
}

#alpina_wp_plugin_container .gallery.gallery-columns-3 figure:nth-of-type(3n+3) {
    margin-right: 0;
}

#alpina_wp_plugin_container .gallery.gallery-columns-3 figure:nth-of-type(3n+4) {
    clear: left;
}

#alpina_wp_plugin_container .gallery.gallery-columns-2 figure {
    width: 49%;
}

#alpina_wp_plugin_container .gallery.gallery-columns-2 figure:nth-of-type(even) {
    margin-right: 0;
}

#alpina_wp_plugin_container .gallery.gallery-columns-2 figure:nth-of-type(odd) {
    clear: left;
}

#alpina_wp_plugin_container .gallery.gallery-columns-4 figure {
    width: 23.25%;
}

#alpina_wp_plugin_container .gallery.gallery-columns-4 figure:nth-of-type(4n+4) {
    margin-right: 0;
}

#alpina_wp_plugin_container .gallery.gallery-columns-4 figure:nth-of-type(4n+5) {
    clear: left;
}

#alpina_wp_plugin_container .gallery.gallery-columns-5 figure {
    width: 18%;
}

#alpina_wp_plugin_container .gallery.gallery-columns-5 figure:nth-of-type(5n+5) {
    margin-right: 0;
}

#alpina_wp_plugin_container .gallery.gallery-columns-5 figure:nth-of-type(5n+6) {
    clear: left;
}

#alpina_wp_plugin_container .gallery.gallery-columns-6 figure {
    width: 14.2%;
}

#alpina_wp_plugin_container .gallery.gallery-columns-6 figure:nth-of-type(6n+6) {
    margin-right: 0;
}

#alpina_wp_plugin_container .gallery.gallery-columns-6 figure:nth-of-type(6n+7) {
    clear: left;
}

#alpina_wp_plugin_container .gallery.gallery-columns-7 figure {
    width: 12%;
}

#alpina_wp_plugin_container .gallery.gallery-columns-7 figure:nth-of-type(7n+7) {
    margin-right: 0;
}

#alpina_wp_plugin_container .gallery.gallery-columns-7 figure:nth-of-type(7n+8) {
    clear: left;
}

#alpina_wp_plugin_container .gallery.gallery-columns-8 figure {
    width: 10.2%;
}

#alpina_wp_plugin_container .gallery.gallery-columns-8 figure:nth-of-type(8n+8) {
    margin-right: 0;
}

#alpina_wp_plugin_container .gallery.gallery-columns-8 figure:nth-of-type(8n+9) {
    clear: left;
}

#alpina_wp_plugin_container .gallery.gallery-columns-9 figure {
    width: 8.85%;
}

#alpina_wp_plugin_container .gallery.gallery-columns-9 figure:nth-of-type(9n+9) {
    margin-right: 0;
}

#alpina_wp_plugin_container .gallery.gallery-columns-9 figure:nth-of-type(9n+10) {
    clear: left;
}
