@media (max-width: 575px) {
  #alpina_wp_plugin_container .navigationPage a {
      color: #3C3A3A;
      font-weight: 600;
      font-family: 'Noto Sans', #alpina_wp_plugin_container sans-serif;
      text-transform: uppercase;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
  }
}
@media (max-width: 991px) {
    #alpina_wp_plugin_container img.alignright, #alpina_wp_plugin_container div.alignright, #alpina_wp_plugin_container figure.alignright, #alpina_wp_plugin_container img.alignleft, #alpina_wp_plugin_container div.alignleft, #alpina_wp_plugin_container figure.alignleft, #alpina_wp_plugin_container img.wp-post-image.attachment-thumb {
        display: block;
        margin: 1em auto;
        float: none;
    }

    #alpina_wp_plugin_container .gallery.gallery-columns-4 figure, #alpina_wp_plugin_container .gallery.gallery-columns-5 figure, #alpina_wp_plugin_container .gallery.gallery-columns-6 figure, #alpina_wp_plugin_container .gallery.gallery-columns-7 figure, #alpina_wp_plugin_container .gallery.gallery-columns-8 figure, #alpina_wp_plugin_container .gallery.gallery-columns-9 figure {
        width: 100%;
        margin: 0 0 1em 0;
        float: none;
    }
    #alpina_wp_plugin_blog_subheader .widget {
        background: transparent;
        clear: both;
        margin-bottom: 0px !important;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
    }
    #alpina_wp_plugin_blog_subheader .widget p {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    #alpina_wp_plugin_blog_subheader .widget .wpcf7-form-control-wrap, #alpina_wp_plugin_blog_subheader .widget .wpcf7-form-control.wpcf7-submit {
        width: 100%;
        margin: 0px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        flex-direction:  column;
    }
    #alpina_wp_plugin_blog_subheader .newsletter input[type=submit].contactForm {
        justify-content: center;
    }
    #alpina_wp_plugin_blog_subheader .newsletter input.contactForm, #alpina_wp_plugin_blog_subheader .newsletter select.contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=text].contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=email].contactForm, #alpina_wp_plugin_blog_subheader .newsletter input[type=tel].contactForm, #alpina_wp_plugin_blog_subheader .newsletter textarea.contactForm {
        color: #fff;
        border: #233152 solid 2px;
        border-radius: 4px;
        width: 100%;
    }
    #alpina_wp_plugin_blog_subheader span.wpcf7-not-valid-tip {
        color: #f00;
        font-size: 1em;
        font-weight: normal;
        /*         display: inline-block; */
        float: left;
    }
    #alpina_wp_plugin_container .cta div {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

/* RESPONSIVE */
/* Extra small devices (portrait phones,
#alpina_wp_plugin_container less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones,
#alpina_wp_plugin_container 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets,
#alpina_wp_plugin_container 768px and up) */
@media (min-width: 768px) {
    #alpina_wp_plugin_container .container-full {
        width: 750px;
    }
}

/* Large devices (desktops,
#alpina_wp_plugin_container 992px and up) */
@media (min-width: 992px) {
    #alpina_wp_plugin_container .container-full {
        width: 970px;
    }
}

/* Extra large devices (large desktops,
#alpina_wp_plugin_container 1200px and up) */
@media (min-width: 1200px) {
    #alpina_wp_plugin_container .container-full {
        width: 1170px;
    }
}

@media (min-width: 1730px) {
    #alpina_wp_plugin_container .container-full {
        width: 1700px;
    }
}
