/* raleway-300 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('./raleway-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light'), local('Raleway-Light'),
       url('./raleway-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./raleway-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./raleway-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./raleway-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./raleway-v12-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  src: url('./raleway-v12-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
       url('./raleway-v12-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./raleway-v12-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./raleway-v12-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('./raleway-v12-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./raleway-v12-latin-300italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('./raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('./raleway-v12-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Raleway Italic'), local('Raleway-Italic'),
       url('./raleway-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./raleway-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./raleway-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./raleway-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./raleway-v12-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('./raleway-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
       url('./raleway-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./raleway-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./raleway-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./raleway-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./raleway-v12-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 800;
  src: url('./raleway-v12-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
       url('./raleway-v12-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./raleway-v12-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./raleway-v12-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('./raleway-v12-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./raleway-v12-latin-800italic.svg#Raleway') format('svg'); /* Legacy iOS */
}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 3, 2018 */
@font-face {
    font-family: 'latoitalic';
    src: url('./lato-italic.woff2') format('woff2'),
         url('./lato-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('./lato-regular.woff2') format('woff2'),
         url('./lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoheavy_italic';
    src: url('./lato-heavyitalic.woff2') format('woff2'),
         url('./lato-heavyitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoheavy';
    src: url('./lato-heavy.woff2') format('woff2'),
         url('./lato-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
