#wpwrap {
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  background-color: #ffffffe0;
  background-blend-mode: overlay;
}
#adminmenu,  #adminmenuwrap {
   background-color: transparent;
}
#adminmenu .wp-submenu, #adminmenuback {
  background-color: rgba(35, 40, 45, 0.85);
}
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
    right: 5px;
}

#wpwrap,
#wpwrap h1,
#wpwrap h2,
#wpwrap h3 {
    color: #ffffff;
    color: #4a434c;
}
