/**
* All of the CSS for your admin-specific functionality should be
* included in this file.
*/
#alpina-wp-plugin-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#alpina-wp-plugin-form > div {
  padding-bottom: 20px;
  display: flex;
}
#alpina-wp-plugin-form > div label {
  width: 200px;
}
#alpina-wp-plugin-form > div input {
  padding: 10px 13px;
  /* height: auto !important; */
  padding-: 0px 10px !important !important;
}

#alpina-wp-plugin-form .button,
#alpina-wp-plugin-form .button-secondary {
  padding: 5px 14px;
  height: auto !important;
}

#alpina-wp-plugin-form  .wp-color-result-text {
  margin: -5px -14px -5px 35px;
  padding: 7px 30px;
}
#alpina-wp-plugin-form .wp-picker-container input[type="text"].wp-color-picker {
    min-width: 85px;
    font-size: 12px;
    font-family: monospace;
    line-height: 16px;
    margin: 0;
    vertical-align: top;
}
